@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.hero {
  background: linear-gradient(to top right, var(--color-neutral-very-dark-violet), var(--color-primary-mid-purple));
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem; }

main {
  margin: auto;
  padding: 2.5rem;
  overflow-x: auto;
  white-space: nowrap; }
  main form {
    max-width: 100%;
    box-sizing: border-box; }
    main form fieldset {
      border: none; }
  main .date-month-cvc {
    display: flex;
    justify-content: center;
    align-items: center; }
  main label, main input {
    display: block;
    width: 100%; }
  main input {
    padding: 2rem;
    border: 1px solid var(--color-neutral-gray);
    border-radius: 1rem; }
  main label {
    font-size: var(--font-size-default);
    font-weight: 700;
    margin: 3rem 0 1rem 0;
    color: var(--color-primary-mid-purple); }
  main ::placeholder {
    color: var(--color-neutral-gray);
    font-size: var(--font-size-default); }
  main .date-month-container {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column; }
    main .date-month-container div {
      display: flex;
      justify-content: center;
      gap: 1rem; }
  main .cvc-container {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    justify-content: center;
    align-items: center;
    padding-left: 1rem; }

.attribution {
  text-align: center; }

:root {
  --color-primrary-light-purple: hsl(249, 99%, 64%);
  --color-primary-mid-purple: hsl(278, 94%, 30%);
  --color-primray-red-error: hsl(0, 100%, 66%);
  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-gray: hsl(270, 3%, 87%);
  --color-neutral-dark-grey-violet: hsl(279, 6%, 55%);
  --color-neutral-very-dark-violet: hsl(278, 68%, 11%);
  --font-weight-default: 500;
  --font-size-default: 18px; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif; }

.credit-card__back {
  background-image: url("/images/bg-card-back.png");
  height: 16rem;
  width: 30rem;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  margin-left: 4rem; }
  .credit-card__back p {
    margin-right: 4rem;
    color: white; }

.credit-card {
  background-image: url("/images/bg-card-front.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 16rem;
  width: 30rem;
  color: white;
  border-radius: 1rem;
  padding: 2rem;
  margin-left: -4rem;
  margin-top: -6.7rem;
  z-index: 2;
  color: white; }
  .credit-card .circle-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem; }
    .credit-card .circle-container .circle {
      height: 3rem;
      width: 3rem;
      background-color: white;
      border-radius: 100rem; }
    .credit-card .circle-container .small-circle {
      height: 1.5rem;
      width: 1.5rem;
      border: 1px solid white;
      border-radius: 100rem; }
  .credit-card #cc_number {
    display: block;
    font-size: 2.5rem;
    text-align: center; }
  .credit-card .name-expdate-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem; }

#submit {
  width: 100%;
  padding: 1.5rem;
  font-size: var(--font-size-default);
  color: var(--color-neutral-gray);
  background-color: var(--color-neutral-very-dark-violet);
  border: none;
  border-radius: 0.5rem;
  margin-top: 3rem; }
