.credit-card__back {
    background-image: url("/images/bg-card-back.png");
    height: 16rem;
    width: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 4rem;
   
    p{
        margin-right: 4rem;
        color: white;
        font-size: 1em;

        @media only screen and (min-width: 103rem) {
            margin-right: 6rem;
            margin-top: 1.5rem;
        }
    }

    

    @media only screen and (min-width: 103rem) {
        height: 22rem;
        width: 44rem;
        margin: 0;
        margin-right: -50rem;
        font-size: 3rem;
    }

    @media only screen and (min-width:87.5rem) and (max-width:103rem) { 
        height: 20rem;
        width: 35rem;
        margin: 0;
        font-size: 1.2rem;
        margin-right: -45rem;
    }
}

.credit-card {
        
    background-image: url("/images/bg-card-front.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 16rem;
    width: 30rem;
    color: white;
    border-radius: 1rem;
    padding: 2em;
    margin-left: -4rem;
    margin-top: -6.7rem;
    z-index: 2;

    color: white;
    
   
    .circle-container{

        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 3rem;

        @media only screen and (min-width:87.5rem) {
           margin-bottom: 5rem;
        }

        .circle {
            height: 3rem;
            width: 3rem;
            background-color: white;
            border-radius: 100rem;
        }
    
        .small-circle {
            height: 1.5rem;
            width: 1.5rem;
            border: 1px solid white;
            border-radius: 100rem;
        }
    }

    #cc_number{
        display: block;
        font-size: 2.5em;
        text-align: center;
    }

    .name-expdate-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top:2rem;
        font-size: 1em;
    }

    @media only screen and (min-width: 103rem) {
        height: 22rem;
        width: 44rem;
        margin: 0;
        font-size: 1.4rem;
        margin-right: -35rem;
    }

    @media only screen and (min-width:87.5rem) and (max-width:103rem) { 
        height: 20rem;
        width: 35rem;
        margin: 0;
        font-size: 1.2rem;
        margin-right: -35rem;
    }
    
}



#submit {
    width: 100%;
    padding: 1.5rem;
    font-size: var(--font-size-default);
    color: var(--color-neutral-gray);
    background-color: var(--color-neutral-very-dark-violet);
    border: none;
    border-radius: 0.5rem;
    margin-top: 3rem;
  }