.hero {
    
    padding: 5em;
    padding-top:3em;
    background: linear-gradient(to top right, var(--color-neutral-very-dark-violet),var(--color-primary-mid-purple)) ;

    img {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .credit-card__back { 
        margin-left: 10%;
        z-index: -1;
    }

}

.credit-card-container {
    padding-left: 5em;
    padding-right: 5em;

    img {
        margin-left: -3.5em;
        margin-top: -12em;
        width: 100%;
    }
    
}

main { 
    

    form {
        max-width: 100%;
        box-sizing: border-box;
        
    }

    .date-month-cvc {
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
    label, input {
        display: block;
    }
    
    .date-month-container {
        width: 100%;
        
    }
    .cvc-container {
        display: flex;
        flex: 0 0 50%;
    }


}