

.container {
    @media only screen and (min-width: 87.5rem) {
        display: flex;
        height: 100vh;
    }
}

.hero {

    background: linear-gradient(to top right, var(--color-neutral-very-dark-violet),var(--color-primary-mid-purple)) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 3rem;

    @media only screen and (min-width: 87.5rem) {
        justify-content: center;
        gap: 2rem;
        flex-direction: column-reverse;
        flex: 1 1 30%;
    }
    
}

main { 

    margin: auto;
    padding: 2.5rem;
    overflow-x: auto;
	white-space: nowrap;
    max-width: 50rem;

    @media only screen and (min-width: 87.5rem) {
        flex: 1 1 70%;
        max-width: 100%;
    }
    
    
    form {
        width: 100%;
        box-sizing: border-box;
        
        fieldset {
            border: none;
        }

        @media only screen and (min-width: 87.5rem) {
            max-width: 50%;
            margin: 0 auto;
        }
    }

    .date-month-cvc {
        display: flex;
        justify-content: center;
        align-items: center;
       
    }


    label, input {
        display: block;
        width: 100%;
    }

    input {
        padding: 2rem;
        border: 1px solid var(--color-neutral-gray);
        border-radius: 1rem;  
    }

    label {
        font-size: var(--font-size-default);
        font-weight: 500;
        margin: 3rem 0 1rem 0;
        color: black;
        
    }

    ::placeholder {
        color: var(--color-neutral-gray);
        font-size: var(--font-size-default);
    }
    
    .date-month-container {
        
        flex: 0 0 50%;
        display: flex; 
        flex-direction: column;
       

        div {
            display: flex;
            justify-content: center;
            
            gap: 1rem;
        }
    }

    .cvc-container {
        display: flex;
        flex-direction: column;
        flex: 0 0 50%;
        justify-content: center;
        align-items: center;
        padding-left:1rem;

    }

}

.attribution {
    text-align: center;
}